{{>header}}
{{>groupSidebar}}

<div class="feed" id="members">
    <table>
        <thead>
            <tr>
                {{#if isAdmin}}
                    <th></th>
                {{/if}}
                <th>الكود</th>
                <th>الاسم</th>
            </tr>
        </thead>
        <tbody>
            {{#members}}
            <tr>
                <td>
                    {{#if ../isAdmin}}
                        <button class="btn btn-sm" id="accept" data-id="{{userId}}" title="Remove member">قبول</button>
                        <button class="btn btn-sm btn-line" id="remove" data-id="{{userId}}" title="Remove member">حذف</button>
                    {{/if}}
                </td>
                <td>{{code}}</td>
                <td>{{name}}</td>

            </tr>
            {{/members}}
        </tbody>
    </table>
</div>

{{>groupTips}}
{{>footer}}